
// to create text that is filled with background as text color 
@mixin textFillBackground( $background-size, $background-position, $background-attachment ) {
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: $background-size;
    background-position: $background-position;
    background-attachment: $background-attachment;
}

// modify color & background of highlighted text
@mixin highlightText( $color, $background ) {
	::-moz-selection { /* Code for Firefox */
	    color: $color;
	    background: $background;
	}
	::selection {
	    color: $color;
	    background: $background;
	}
}