

// plugin 
@import "mixin/aurror";
@import "variables/logocolors";

body {
	/* @include aurrorItComplementary( top, 10, pastel ); */
	/* @include aurrorItMonochromatic( top, #7CA0C7, lighter ); */
	@include aurrorItAnalogous( top, 100 );

	height: 100vh;
}
h1 {
	color: $facebookHex;
	font-family: 'Montserrat';
}
