

// mixin library 
@import "mixin/aurror";

// function library
@import "function/func";

// variable library
@import "variables/logocolors";

body {
	/* @include aurrorItMonochromatic( top, #7CA0C7, lighter ); */
	/* @include aurrorItComplementary( top, 100, pastel, 1, 1 ); */
	/* @include aurrorItAnalogous( top, 220, left, 1, 0.5 ); */
	@include aurrorItTriad( top, 120, 73%, 76%, right, 1, 1, 1 );
	height: 100vh;
}
h1 {
	color: $facebookHex;
	font-family: 'Montserrat';
}