

// mixin library 
@import "mixin/aurror";

// function library
@import "function/func";

// variable library
@import "variables/logocolors";

body {
	/* @include aurrorItMonochromatic( top, #7CA0C7, lighter ); */
	/* @include aurrorItComplementary( top, 100, gothic ); */
	@include aurrorItAnalogous( top, 220, left );

	height: 100vh;
}
h1 {
	color: $facebookHex;
	font-family: 'Montserrat';
}